<nz-header style="position: fixed;width: 100%;">
  <div class="app-header">
        <span class="header-trigger" (click)="toggleCollapsed()">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
    <div style="position: fixed;top:0;right: 60px;display: flex">
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-submenu [nzTitle]="userInfo?.username" nzIcon="caret-down">
          <ul>
            <li nz-menu-item (click)="logout()">
              <i nz-icon nzType="logout" nzTheme="outline"></i>logout
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nz-header>
